.header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 250px;

  .logo {
    width: 150px;
  }

  .menu_btn {
    width: 29px;
    height: 21px;
    border: none;
    background-color: white;
    border-top: 3px solid #060D37;
    position: relative;
    cursor: pointer;

    &::before {
      content: "";
      width: 22.21px;
      height: 6px;
      border-bottom: 3px solid #060D37;
      position: absolute;
      top: 0;
      right: 0;
    }

    &::after {
      content: "";
      width: 12px;
      height: 9px;
      border-bottom: 3px solid #060D37;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

.ae_b1 {
  padding-left: 250px;
  padding-bottom: 100px;

  h2 {
    font: normal 700 60px sans-serif;
    color: #060D37;
    line-height: 82px;
    width: fit-content;
    margin-top: 154px;
  }

  p {
    font: normal 400 17px sans-serif;
  }
}

.ae_img_1 {
  width: 100vw;
  height: 700px;
  background-image: url(../img/img_1.jpg);
  background-size: cover;
}

.ae_b2 {
  h3 {
    text-transform: capitalize;
    text-align: center;
    font: normal 700 35px sans-serif;
    color: #060D37;
    line-height: 48px;
    margin-top: 150px;
    margin-bottom: 25px;
  }

  .sections {
    display: flex;
    width: 100vw;
    height: 750px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(7, 16, 69, .65);
      z-index: 1;
    }

    div {
      flex: 1 1 25%;
      position: relative;

      &::after {
        position: absolute;
        text-transform: uppercase;
        font: normal 700 25px sans-serif;
        color: white;
        z-index: 2;
        top: calc(50% - 12.5px);
        left: 40%;
        /*width: 100%;
        text-align: center;*/
      }

      &::before {
        content: "";
        position: absolute;
        border: 2px solid white;
        display: block;
        width: 50px;
        height: 50px;
        background: url('../img/sections.svg') center no-repeat;
        z-index: 2;
        top: calc(50% - 25px);
        left: 25%;
        cursor: pointer;
      }

    }

    .first {
      background-image: url(../img/first.jpg);
      background-size: auto;

      &::after {
        content: "Residental";
      }
    }

    .second {
      background-image: url(../img/second.jpg);
      background-size: auto;

      &::after {
        content: "Commercial";
      }
    }

    .third {
      background-image: url(../img/third.jpg);
      background-size: auto;

      &::after {
        content: "Hospitality";
      }
    }

    .fourth {
      background-image: url(../img/fourth.jpg);
      background-size: auto;

      &::after {
        content: "Mixed Use";
      }
    }
  }
}